*{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
}

#container{
	width: 1050px;
	margin: 0px auto;
}

#header{
	height: 57px;
	
}

#header .img-banner{
	float: left;
}

#header .slogan-banner h4{
	display: block;
	line-height: 30px;
	margin-top: 10px;
	float: left;
	width: 953px;
	background-color: #FCF;
}

.clr{
	clear: both;
}



#content{
	
	margin-top: 15px;
}

#content #info{
	height: 300px;
	width: 750px;
	float: left;
	padding: 0px 15px;
}

p{
	margin-top: 10px;
}

#content #info ul{
	margin-left: 70px;
    list-style-type: none;
}

#content #info ul li{
	height: 50px;
}

.border-surround{
	margin-top: 38px;
	padding: 2px;
	border: 1px solid #FCF;
}
#content #login-form{
	width: 270px;
	float: left;
}

#content #login-form .login{
	background-color: #e8eefa;
	border: 1px solid #FFF;
	height: 220px;
	padding: 2px 20px;
	text-align: center;
}

#content #login-form .login p{
	margin-bottom: 10px;
}

tr{
	height: 25px;
}

input[type='text']{
	width: 150px;
}

input[type='password']{
	width: 150px;
}

input[type='button']{
	padding: 2px 6px;
}

td a{
	margin-top: 30px;
	 display: inline-block;
}

.create-surround{
	margin-top: 20px;
	padding: 2px;
	border: 1px solid #FCF;
}
#content #login-form .create{
	background-color: #e8eefa;
	border: 1px solid #FFF;
	height:140px;
	padding: 2px 20px;
	text-align: center;
}

button{
	padding: 12px 24px;
	border-radius: 5px;
}
#footer{
	line-height: 40px;
	background-color: #FCF;
	text-align: center;
	margin-top: 30px;
}
#footer ul {
	display: inline-block;
}

#footer ul li{
	display: inline-block;
    list-style-type: none;
    margin-left: 10px;
}