body{
	width: 100%;
	background: green;
}
.bd-example{
	width: 80%;
	margin: 0 auto;
}
.carousel-item img{
	height: 300px;
	width: 100%;
}
.container-fluid{
	width: 80%;
	margin: 40px auto;
}
.container-fluid h5,h1,p{
	color: white;
}
#goTop{
    display:none;
    width:55px;
    height:55px;
    position:fixed;
    bottom:20px;
    right:20px;
    line-height: 55px;
    color: red;
    font-size: 27px;
    background: blue;
}