body{
	margin: auto;
	padding: 0px;
}
.container{
	width: 1000px;
}
.menu{
	background-color: #dddddd;
}
.menu ul{
	float: right;
	margin-left: 550px;
}
.menu ul li {
	background-color: #ffffff;
	margin-left: 15px;
	padding: 5px;
	
}
